<ion-view view-title="Categorias">
	<ion-content>

		
		

<center><h1>TABLA NUTRICIONAL</h1>
<table class="rwd-table">
  <tr>
    <th>Alimentacion</th>
    <th>Nombre de comidas</th>
    <th>Alimento (100 gramos)</th>
    <th>calorias (Kcal.)</th>
    <th>carbohidratos</th>
    <th>Proteínas</th>
    <th>Grasas</th>
    <th>fibra</th>
  </tr>
  <tr>
    <td data-th="Alimento">DESAYUNO</td>
    <td data-th="Nombre de comida">Huevos,aguacate,tosino,frijol</td>
    <td data-th="Gramos">147,1g,427</td>
    <td data-th="Calorias">1,190kca,0</td>
    <td data-th="Carbohidratos">10.1g,14</td>
    <td data-th="Proteínas">12,17,41</td>
    <th data-th="Grasas">11,160,</th>
    <th data-th="Fibra">0,17.4g,2</th>
</tr>
 <tr>
 	<td data-th="Alimento">REFACCION </td>
    <td data-th="Nombre de comida">fruta,yogurt</td>
    <td data-th="Gramos">61,102</td>
    <td data-th="Calorias">16,6</td>
    <td data-th="Carbohidratos">1,5</td>
    <td data-th="proteínas">2</td>
    <th data-th="Grasas">0</th>
    <th data-th="Fibra">0</th>
 </tr>
    <tr>
    <td data-th="Alimento">ALMUERZO</td>
    <td data-th="Nombre de comida">zanahoria,tomate,salmon,lechuga</td>
    <td data-th="Gramos">42,14,182,12</td>
    <td data-th="Calorias">6,3,0,1</td>
    <td data-th="Carbohidratos">1.2,1,18,1</td>
    <td data-th="Proteínas">0.3,0,12,0</td>
    <th data-th="Grasas">3,2,0,2</th>
    <th data-th="Fibra">0.3,0,12,0</th>
</tr>

<tr>
    <td data-th="Alimento">REFACCION </td>
    <td data-th="Nombre de comida">melocoton,kiwi,fresas,chocolate</td>
    <td data-th="Gramos">37,52,26,550</td>
    <td data-th="Calorias">9,11,6,56,</td>
    <td data-th="Carbohidratos">1,1,1,6</td>
    <td data-th="Proteínas">0,1,0,34</td>
    <th data-th="Grasas">2,4,2,0</th>
    <th data-th="Fibra">0,1,2,34</th>
</tr>

<tr>
    <td data-th="Alimento">CENA </td>
    <td data-th="Nombre de comida">brocoli,carne de cerdo</td>
    <td data-th="Gramos">23,329</td>
    <td data-th="Calorias">2,0</td>
    <td data-th="Carbohidratos">3,16</td>
    <td data-th="Proteínas">0</td>
    <th data-th="Grasas">30</th>
    <th data-th="Fibra">0</th>
</tr>



    <h class="m">Valor nutricional de los alimentos
El valor nutricional de los alimentos está relacionado con el contenido energético de los nutrientes. Se refiere siempre para una cantidad de 100 gramos ó 100 ml del alimento. (Ver más en Tabla de Alimentos e Información nutricional).

Los nutrientes son fundamentalmente los carbohidratos, proteínas, grasas, fibra, vitaminas y minerales. 

Hablamos de alta densidad de nutrientes cuando en una porción de alimento hay una gran cantidad de nutrientes y en consecuencia decimos que es más nutritivo.</h></center>


<center>
<img class="img" src="img/desa.jpg">
<img class="img" src="img/refa.jpg">
<img class="img" src="img/almu.jpg">
<img class="img" src="img/refa2.jpg">
<img class="img" src="img/cena.jpg">
</center>


    
	</ion-content>
</ion-view>