<ion-view view-title="Categorias">
	<ion-content>

		
		

<h1>TABLA NUTRICIONAL</h1>
<table class="rwd-table">
  <tr>
    <th>Comidas</th>
    <th>Nombre de comidas</th>
    <th>Alimento (100 gramos)</th>
    <th>calorias (Kcal.)</th>
    <th>carbohidratos</th>
    <th>Proteínas</th>
    <th>Grasas</th>
    <th>fibra</th>
  </tr>
  <tr>
    <td data-th="Movie Title">DESAYUNO</td>
    <td data-th="Genre">Huevos,aguacate,tosino,frijol</td>
    <td data-th="Genre">147,1g,427</td>
    <td data-th="Genre">1,190kca,0</td>
    <td data-th="Year">10.1g,14</td>
    <td data-th="Gross">12,17,41</td>
    <th data-th="Grasas">11,160,</th>
    <th data-th="fibra">0,17.4g,2</th>
</tr>
 <tr>
 	<td data-th="Movie Title">REFACCION </td>
    <td data-th="Genre">fruta,yogurt</td>
    <td data-th="Genre">61,102</td>
    <td data-th="Genre">16,6</td>
    <td data-th="Year">1,5</td>
    <td data-th="Gross">2</td>
    <th data-th="Grasas">0</th>
    <th data-th="fibra">0</th>
 </tr>
    <tr>
    <td data-th="Movie Title">ALMUERZO</td>
    <td data-th="Genre">zanahoria,tomate,salmon,lechuga</td>
    <td data-th="Genre">42,14,182,12</td>
    <td data-th="Genre">6,3,0,1</td>
    <td data-th="Year">1.2,1,18,1</td>
    <td data-th="Gross">0.3,0,12,0</td>
    <th data-th="Grasas">3,2,0,2</th>
    <th data-th="fibra">0.3,0,12,0</th>
</tr>

<tr>
    <td data-th="Movie Title">REFACCION </td>
    <td data-th="Genre">melocoton,kiwi,fresas,chocolate</td>
    <td data-th="Genre">37,52,26,550</td>
    <td data-th="Genre">9,11,6,56,</td>
    <td data-th="Year">1,1,1,6</td>
    <td data-th="Gross">0,1,0,34</td>
    <th data-th="Grasas">2,4,2,0</th>
    <th data-th="fibra">0,1,2,34</th>
</tr>

<tr>
    <td data-th="Movie Title">CENA </td>
    <td data-th="Genre">brocoli,carne de cerdo</td>
    <td data-th="Genre">23,329</td>
    <td data-th="Genre">2,0</td>
    <td data-th="Year">3,16</td>
    <td data-th="Gross">0</td>
    <th data-th="Grasas">30</th>
    <th data-th="fibra">0</th>
</tr>



    <h class="m">Valor nutricional de los alimentos
El valor nutricional de los alimentos está relacionado con el contenido energético de los nutrientes. Se refiere siempre para una cantidad de 100 gramos ó 100 ml del alimento. (Ver más en Tabla de Alimentos e Información nutricional).

Los nutrientes son fundamentalmente los carbohidratos, proteínas, grasas, fibra, vitaminas y minerales. 

Hablamos de alta densidad de nutrientes cuando en una porción de alimento hay una gran cantidad de nutrientes y en consecuencia decimos que es más nutritivo.</h>

<img class="img" src="img/desa.jpg">
<img class="img" src="img/refa.jpg">
<img class="img" src="img/almu.jpg">
<img class="img" src="img/refa2.jpg">
<img class="img" src="img/cena.jpg">



    
	</ion-content>
</ion-view>