<ion-view>
	<ion-content>
		<center><div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "><h2></h2> video interactivo</div>
		<div class="col-10"></div>
		<video controls src="../img/vid.mp4" class="vid"></video>


<div class="row">
			<div class="col-10"></div>
		</div>
		<h3>En los siguientes videos veremos el cuidado del agua, el proceso de la fecundacion y metodos anticonctivos</h3>
		<div class="col-100 "><h2>video del agua</h2></div>
		<div class="col-10"></div>
		<video controls src="../img/agua.mp4" class="vid"></video>

        <div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "><h2>contaminecion</h2></div>
		<div class="col-10"></div>
		<video controls src="../img/contaminacio.mp4" class="vid"></video>


		<div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "><h2>proceso de la fecundacion el desarrollo del embrion</h2></div>
		<div class="col-10"></div>
		<video controls src="../img/ci.mp4" class="vid"></video>

		<div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "></div>
		<div class="col-10"></div>
		<video controls src="../img/na.mp4" class="vid"></video>

		<div class="row">
			<div class="col-10"></div>
		</div>
		<div class="col-100 "><h2>anticonceptivos</h2></div>
		<div class="col-10"></div>
		<video controls src="../img/pastillas.mp4" class="vid"></video>
</center>


	</ion-view>
</ion-content>